section {
    border: solid #e500ff 3px;
    border-collapse: collapse;
    margin: 2px;
}
article{
    border-top: solid #e500ff 1px;
    margin: 1px;
}

h1, h2, h3, p{
    color: greenyellow;
}

a{
    color: green;
}
a:hover{
    color: #e500ff;
}

a:visited{
    color: green;
}