
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Ruda');

/*This is very inspecific so safe (more specific defs override),
means all margins and padding will have tobe set by us if we want them,
but this is a good thing*/
*
{
  margin: 0;
  padding: 0;
}

header
{
  display: block;
  width: 100%;
  min-height: 4.25em;
  min-width: 90vw;
  background-color: #FBFBFB;
  box-shadow: 0 10px 10px 5px #E1E1E1;
}

#top > h1
{
  color: #e500ff;
  font-family: 'Fredoka One', cursive;
  margin-left: 1em;
  padding-top: 0.5em;
  z-index: 2;
  position:relative;
  max-width: calc(100% / 2 - 2em);
}

body
{
  background-color: #EEEEEE;
}

.overflow-ellipsis
{
  text-overflow: ellipsis;
  overflow: hidden;
}

.unselectable
{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#bottom
{
  font-family: 'Ruda', 'sans-serif';
  width: 100%;
  text-align: left;
  bottom: 0;
  position: absolute;
  margin-bottom: 4px;
}

#bottom>p
{
  margin-left: 1em;
}

hr
{
  margin-left: 1em;
  text-align: left;
  width: calc(100% - 1em - 1);
}
