@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Ruda');
/*This is very inspecific so safe (more specific defs override),
means all margins and padding will have tobe set by us if we want them,
but this is a good thing*/
*
{
  margin: 0;
  padding: 0;
}

/*
html
{
  pointer-events: none; THIS IS FOR CAPTURING EVENTS OVER A NEGATIVE Z-INDEX VALUE, THIS WILL CAUSE HEADACHES
}*/

body
{
  background-color: #000;
}

h1
{
  display: inline;
}

span
{
  white-space:nowrap;
}

hr
{
  color: white;
}

.pageheader
{
  width: 100%;
  min-height: 3em;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.pageheader>h1
{
  color: #e500ff;
  font-family: 'Fredoka One', cursive;
  font-size: 2em;
  margin-left: 1em;
  padding-top: 0.5em;
  padding-left: 0px;
  text-align: left;
  left: 0;
}

.pagefooter
{
  font-family: 'Ruda', 'sans-serif';
  width: 100%;
  text-align: left;
  bottom: 0;
  position: absolute;
  margin-bottom: 4px;
  background-color: #111111;
}

.pagefooter>p
{
  margin-left: 1em;
  color: white;
}

hr
{
  margin-left: 1em;
  text-align: left;
  width: calc(100% - 1em - 1);
}


.overflow-ellipsis
{
  text-overflow: ellipsis;
  overflow: hidden;
}

.unselectable
{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
