.statusbox
{
  text-align: center;
  display: inline-block;
  /*background-color: #999999 #E1E1E1;*/
  background-image: linear-gradient(#FBFBFB 40%, #EEEEEE 80%, #E1E1E1 100%);
  max-width: 40%;
  min-width: calc(2em*18 + 2em);
  max-height: 4em;
  left: 50%;
  right: 50%;
  position: fixed;
  transform: translateX(-50%);
  border-radius: 50px 5px 50px 2px;
  top:0.5em;
}

.statusbox>p
{
  font-size: 2em;
  font-family: 'Ruda', 'sans-serif';
  color: #1aff00;
}

.status
{
  color: white;
  font-family: 'Ruda', 'sans-serif';
  font-size: 1em;
}
